*.keras
*.h5
*.tflite
__pycache__/
*.pyc
venv/
env/
.DS_Store
.generate_test
.reports/figures
scratch/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
**/android/build/
**/ios/Flutter/
monitoring/live_metrics.prom